<main>
  <div class = "edit-backimage">
    <div class = "users-title">
      <h2 class = "text-white">投稿編集</h2>
    </div>
  </div>


  <div class = "container">
    <div class = "low">
      <div class = "col-10 offset-1 mx-auto text-center text-white">
        <%= form_with model:@training, local:true do |f| %>

        <%= attachment_image_tag @training, :image, class: "trainingimg" %>
        <%= f.attachment_field :image, placeholder: "投稿画像", class: "text-white m-3" %>

        <table class = 'table inin'>
          <tr>
            <td class="text-white font-weight-bold">トレーニング名</td>
            <td>
              <%= f.text_field :title, class: "border border-dark rounded text-dark", :size => "50" %>
            </td>
          </tr>
          <tr>
            <td class="text-white">時間or回数 × セット</td>
            <td>
              <%= f.text_field :time, :size => "24*30", class: "border border-dark rounded text-dark" %>×
              <%= f.text_field :set, :size => "24*30", class: "border border-dark rounded text-dark" %>
            </td>
          </tr>
          <tr>
            <td class="text-white">ジャンル</td>
            <td><%= f.select :genre, [["腕", "腕"], ["胸", "胸"],["腹", "腹"],["足", "足"]], include_blank: "選択して下さい" %></td>
          </tr>
          <tr>
            <td class="text-white">説明</td>
            <td><%= f.text_area :description, size: "50x5",class: "border border-dark rounded text-dark" %>
          </tr>
        </table>
        <%= f.submit '編集内容を保存', class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</main>