<div class = "trainingnew-backimage">
  <div class = "trainings-title">
    <h2 class = "text-white">新規投稿</h2>
  </div>
</div>

<div class = "container">
  <div class = "low">
    <div class = "col-10 offset-1 mx-auto text-center bg-white">

    <%= form_with model: @training, local:true do |f| %>

    <table class = 'table inin'>
      <tr>
        <td class="text-dark">トレーニング名</td>
        <td><%= f.text_field :title, size: "50", class: "text-dark" %></td>
      </tr>
      <tr>
        <td class="text-dark">時間or回数 × セット</td>
        <td><%= f.text_field :time, :size => "24", class: "text-dark" %>×<%= f.text_field :set, :size => "24", class: "text-dark" %></td>
      </tr>
      <!--ジャンル　プルダウン選択式-->
      <tr>
        <td class="text-dark">ジャンル</td>
        <td><%= f.select :genre, [["腕", "腕"], ["胸", "胸"],["腹", "腹"],["足", "足"]], include_blank: "選択して下さい", size: "50x5",class: "text-dark" %></td>
      </tr>
      <tr>
        <td class="text-dark">トレーニング詳細</td>
        <td><%= f.text_area :description, size: "50x5",class: "border border-dark rounded text-dark" %></td>
      </tr>
      <tr>
        <td class="text-dark">トレーニング画像</td>
        <td><%= f.attachment_field :image %></td>
      </tr>
    </table>

    <div class="row">
      <div class="col-10 offset-1 ">
        <%= f.submit '投稿', class: "btn btn-primary btn-sm mx-auto d-block m-2 text-white" %>
      </div>
    </div>
    <% end %>

    </div>
  </div>
</div>