<main>
  <div class = "trainingranking-backimage">
    <div class = "users-title">
      <h2 class = "text-white">ランキング</h2>
    </div>
  </div>

  <div class = "index-container">
  <% @rankings.each do |training| %>
    <div class = "index-box">
      <div class = "post">
        <p><%= attachment_image_tag training, :image, size:'200x150' %></p>
        <p><%= attachment_image_tag @user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg"%></p>
        <p>タイトル名：<%= training.title %></p>
        <p>時間×セット：<%= training.time %>×<%= training.set %></p>
        <p>説明：<%= training.description %></p>
        <p>ユーザーネーム：<%= training.user.user_name %></p>

        <% if user_signed_in? %>
          <% if training.favorited_by?(current_user) %>
            <p>
              <%= link_to training_favorites_path(training), method: :delete do %>
                ♥<%= training.favorites.count %> いいね
              <% end %>
            </p>
          <% else %>
            <p>
              <%= link_to training_favorites_path(training), method: :post do %>
                ♡<%= training.favorites.count %> いいね
              <% end %>
            </p>
          <% end %>
        <% else %>
        <% end %>

        <% if user_signed_in? %>
          <% if training.bookmarked_by?(current_user) %>
              <td><%= link_to "ブックマークを外す", training_bookmarks_path(training), method: :delete %></td>
            <% else %>
              <td><%= link_to "ブックマーク", training_bookmarks_path(training), method: :post %></td>
          <% end %>
        <% else %>
        <% end %>

        <% if training.user == current_user %>
          <%= link_to "編集", edit_training_path(training) %>
          <%= link_to "削除", training_path(training), method: :delete %>
        <% end %>

      </div>
    </div>
  <% end %>
