<main>
  <h4 class="article-main-title">記事編集</br>（管理者）</h4>
    <div class="edit-area">
      <%= form_with model:@article, local:true do |f| %>

      <%= attachment_image_tag @article, :article_image, class: "article-edit-image" %>
      <!--作成日時を追加-->
      <div class = "created-time">
        <%= @article.created_at.to_s(:datetime_jp) %>
      </div>
      
      <%= f.attachment_field :article_image, class: "change-button" %>

        <table class="article-table">
          <tr class="table-list">
            <th><%= f.label :タイトル %></th>
            <td><%= f.text_field :title, class: "input-area" %></td>
          </tr>

          <tr class="table-list">
              <th><%= f.label :本文 %></th>
              <td><%= f.text_area :description %></td>
          </tr>
        </table>
        <%= f.submit "編集内容を保存", class: "btn btn-info mx-auto d-block" %>
      <% end %>
    </div>
</main>