<div class = "articleindex-backimage">
  <div class = "articles-title">
    <h2 class = "text-white font-weight-bold">記事編集（管理者）</h2>
  </div>
</div>

<div class = "container">
    <div class = "low">
      <div class = "col-10 offset-1 mx-auto text-center text-white">
        <%= form_with model:@article, local:true do |f| %>

        <%= attachment_image_tag @article, :article_image, class: "article-image" %>
        <%= f.attachment_field :article_image, placeholder: "投稿画像", class: "text-white m-3" %>

        <table class = 'table inin'>
          <tr>
            <td class="text-white font-weight-bold">タイトル</td>
            <td>
              <%= f.text_field :title, class: "border border-dark rounded text-dark", :size => "50" %>
            </td>
          </tr>
          <tr>
            <td class="text-white">説明</td>
            <td><%= f.text_area :description, size: "50x5",class: "border border-dark rounded text-dark" %>
          </tr>
        </table>
        <%= f.submit '編集内容を保存', class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>