<main>
  <h4 class="article-main-title">記事編集</br>（管理者）</h4>
    <div class="edit-area">

      <%= form_with model:@article, local:true do |f| %>

      <%= attachment_image_tag @article, :article_image, class: "article-edit-image" %>
      <%= f.attachment_field :article_image, class: "change-button" %>

        <table class="article-table">
          <tr class="table-list">
            <th><%= f.label :タイトル %></th>
            <td><%= f.text_field :title, class: "input-area" %></td>
          </tr>

          <tr class="table-list">
              <th><%= f.label :本文 %></th>
              <td><%= f.text_area :description %></td>
          </tr>
        </table>
        <%= f.submit "編集内容を保存", class: "submit-button" %>
        <% end %>
      </div>
</main>


<!--<main>-->
<!--    <h4 class="article-main-title">記事編集（管理者画面）</h4>-->
<!--    <div class="edit-area">-->
<!--          <table class="edit-table">-->
<!--            <%= form_with model:@article, local:true do |f| %>-->
<!--            <%= attachment_image_tag @article, :article_image, class: "article-edit-image" %>-->
<!--            <%= f.attachment_field :article_image, placeholder: "投稿画像" %>-->

<!--            <tr class="table-list">-->
<!--                <th><%= f.label :タイトル %></th>-->
<!--                <td><%= f.text_field :title, class: "input-area" %></td>-->
<!--            </tr>-->

<!--            <tr class="table-list">-->
<!--                <th><%= f.label :本文 %></th>-->
<!--                <td><%= f.text_area :description %></td>-->
<!--            </tr>-->
<!--          </table>-->

<!--          <%= f.submit "編集内容を保存", class: "submit-button" %>-->
<!--          <% end %>-->

<!--    </div>-->
<!--</main>-->

<!--<main>-->
<!--  <div class = "article">-->
<!--    <div class = "article-main-title">記事編集（管理者画面）</div>-->
<!--  </div>-->

<!--  <div class = "article-edit-container">-->
<!--    <div class = "edit-box">-->
<!--      <%= form_with model:@article, local:true do |f| %>-->
<!--      <%= attachment_image_tag @article, :article_image, class: "article-edit-image" %>-->
<!--        <div class = "edit-format">-->
<!--          <%= f.attachment_field :article_image, placeholder: "投稿画像" %>-->
<!--        </div>-->
<!--          <table class = "edit-input">-->
<!--            <tr>-->
<!--              <th>タイトル</th>-->
<!--              <td><%= f.text_field :title %></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <th>説明</th>-->
<!--              <td><%= f.text_area :description %></td>-->
<!--            </tr>-->
<!--          </table>-->
<!--        <div class = "edit-format">-->
<!--          <%= f.submit "編集内容を保存" %>-->
<!--        </div>-->
<!--      <% end %>-->
<!--    </div>-->
<!--  </div>-->

<!--</main>-->

<!--  <div class = "container">-->
<!--    <div class = "low">-->
<!--      <div class = "col-10 offset-1 mx-auto text-center text-white">-->
<!--        <%= form_with model:@article, local:true do |f| %>-->

<!--        <%= attachment_image_tag @article, :article_image, class: "article-image" %>-->
<!--        <%= f.attachment_field :article_image, placeholder: "投稿画像", class: "text-white m-3" %>-->

<!--        <table class = 'table inin'>-->
<!--          <tr>-->
<!--            <td class="text-white font-weight-bold">タイトル</td>-->
<!--            <td>-->
<!--              <%= f.text_field :title, class: "border border-dark rounded text-dark", :size => "50" %>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td class="text-white">説明</td>-->
<!--            <td><%= f.text_area :description, size: "50x5",class: "border border-dark rounded text-dark" %>-->
<!--          </tr>-->
<!--        </table>-->
<!--        <%= f.submit '編集内容を保存', class: 'btn btn-success' %>-->
<!--        <% end %>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</main>-->