<main>
  <div class = "article">
    <div class = "article-backimage">
      <div class = "article-main-title">ピックアップ</div>
    </div>
  </div>

  <!--adominログアウト-->
  <% if admin_signed_in? %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-link btn-lg btn-block text-white" %>
  <% else %>
  <% end %>

  <div class = "article-container">
    <% @articles.each do |article| %>
      <div class = "article-box">
        <h3 class = "article-title"><%= article.title %></h3>
        <p class = "article-image"><%= attachment_image_tag article, :article_image, class: "article-image"%></p>
        <p class = "article-description"><%= article.description %></p>
          <!--adominのみ編集・削除可能-->
          <% if admin_signed_in? %>
            <span><%= link_to "編集", edit_article_path(article) %></span>
            <span><%= link_to "削除", article_path(article), method: :delete %></span>
          <% else %>
          <% end %>
      </div>
    <% end %>
  </div>

  <!--ページング機能-->
  <%= paginate @articles, class: "center-block" %>

</main>