<main>
  <h4 class="article-main-title">記事新規投稿</br>（管理者）</h4>
    <div class="edit-area">
      <%= form_with model:@article, local:true do |f| %>

      <%= f.attachment_field :article_image, class: "change-button" %>

        <table class="article-table">
          <tr class="table-list">
            <th><%= f.label :タイトル %></th>
            <td><%= f.text_field :title, class: "input-area" %></td>
          </tr>

          <tr class="table-list">
              <th><%= f.label :本文 %></th>
              <td><%= f.text_area :description %></td>
          </tr>
        </table>
        <%= f.submit "投稿する", class: "btn btn-info mx-auto d-block" %>
      <% end %>
    </div>
</main>