<!--<main>-->
<!--  <div class = "mypage-backimage">-->
<!--    <h4 class="article-main-title">マイページ</h4>-->
<!--  </div>-->

<!--    <div class="show-area">-->
<!--      <%= attachment_image_tag @user, :profile_image, :fill, 70, 70, fallback: "no_image.jpg", class: "mx-5 my-3 rounded-circle"%>-->
<!--      <%= link_to '編集する', edit_user_path, class: "btn btn-link  m-2 btn-outline-success text-dark"%>-->
<!--      <%= link_to '退会する', user_withdraw_path(current_user), method: :patch, "data-confirm" => "本当に退会しますか？", class: "m-2 btn btn-link btn-outline-danger text-white" %>-->

<!--      <table class="user-table">-->
<!--        <tr class="table-list">-->
<!--          <th>タイトル</th>-->
<!--          <td><%= @user.last_name %><%= @user.first_name %></td>-->
<!--        </tr>-->

<!--        <tr class="table-list">-->
<!--          <th>カナ</th>-->
<!--          <td><%= @user.last_name_kana %><%= @user.first_name_kana %></td>-->
<!--        </tr>-->

<!--        <tr class="table-list">-->
<!--          <th>ユーザー名</th>-->
<!--          <td><%= @user.user_name %></td>-->
<!--        </tr>-->

<!--        <tr class="table-list">-->
<!--            <th>メールアドレス</th>-->
<!--            <td><%= @user.email %></td>-->
<!--        </tr>-->
<!--      </table>-->
<!--    </div>-->
<!--</main>-->




<main>
  <div class = "user">
    <div class = "mypage-backimage">
      <div class = "user-main-title">マイページ</div>
    </div>
  </div>

  <div class = "user-container">
    <div class = "user-box">
      <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", class: "profile-image"%>
      <%= link_to '編集する', edit_user_path, class: "btn btn-link btn-outline-success"%>
      <%= link_to '退会する', user_withdraw_path(current_user), method: :patch,
      "data-confirm" => "本当に退会しますか？", class: "btn btn-link btn-outline-danger" %>

      <!--user情報-->
      <table class = 'user-table border'>
          <tr>
            <td class = 'information border bg-light'>氏名</td>
            <td class = "text-white"><%= @user.last_name %><%= @user.first_name %></td>
          </tr>
          <tr>
            <td class = 'information border bg-light'>カナ</td>
            <td class = "text-white"><%= @user.last_name_kana %><%= @user.first_name_kana %></td>
          </tr>
          <tr>
            <td class = 'information border bg-light'>ユーザー名</td>
            <td class = "text-white"><%= @user.user_name %></td>
          </tr>
          <tr>
            <td class = 'information border bg-light'>メールアドレス</td>
            <td class = "text-white"><%= @user.email %></td>
          </tr>
      </table>
    </div>
  </div>
</main>
