<main>

  <div class = "container my-5 ">
    <div class="row">
      <div class="col-sm-4">
        <h3 class="offset-1 bg-light">マイページ</h3>
      </div>
    </div>

    <div class="row my-3">
      <div class="col-sm-2">
        <h3>登録情報</h3>
      </div>
      <div class="col-sm-2">
        <%= link_to '編集する', edit_user_path, class: "btn btn-success  px-2"%>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-7">
        <table class = 'table border'>
          <!-- log in user情報-->
          <tr>
            <%#= image_tag('sample-author.jpg') %>
          </tr>
          <tr>
            <td class = 'information border bg-light'>氏名</td>
            <td><%= @user.last_name %><%= @user.first_name %></td>
          </tr>
          <tr>
            <td class = 'information border bg-light'>カナ</td>
            <td><%= @user.last_name_kana %><%= @user.first_name_kana %></td>
          </tr>
          <tr>
            <td class = 'information border bg-light'>ユーザー名</td>
            <td><%= @user.user_name %></td>
          </tr>
          <tr>
            <td class = 'information border bg-light'>メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>

        </table>
      </div>
    </div>




  </div>
</main>
