<main>
  <div class = "user">
    <div class = "mypage-backimage">
      <div class = "user-main-title">マイページ</div>
    </div>
  </div>
  <div class = "user-container">
    <div class = "user-box">
      <div class = "profile-image">
          <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", class: "profile-image"%>
      </div>
      <table class = 'border user-table-list'>
        <!-- log in user情報-->
        <tr>
          <th class = 'bg-light'>氏名</th>
          <td class = "text-white"><%= @user.last_name %><%= @user.first_name %></td>
        </tr>
        <tr>
          <th class = 'bg-light'>カナ</th>
          <td class = "text-white"><%= @user.last_name_kana %><%= @user.first_name_kana %></td>
        </tr>
        <tr>
          <th class = 'bg-light'>ユーザー名</th>
          <td class = "text-white"><%= @user.user_name %></td>
        </tr>
        <tr>
          <th class = 'bg-light'>メールアドレス</th>
          <td class = "text-white"><%= @user.email %></td>
        </tr>
      </table>
      <div class = "btn-area">
        <%= link_to '編集する', edit_user_path, class: "btn btn-link btn-outline-success text-white m-3"%>
        <%= link_to '退会する', user_withdraw_path(current_user), method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-link btn-outline-danger text-white m-3" %>
      </div>
    </div>
  </div>
</main>




<!--<main>-->
<!--  <div class = "user">-->
<!--    <div class = "mypage-backimage">-->
<!--      <div class = "user-main-title">マイページ</div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class = "user-container">-->
<!--    <div class = "user-box">-->
<!--      <div class = "profile-image">-->
<!--        <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", class: "profile-image"%>-->
<!--      </div>-->

      <!--user情報-->
<!--      <table class = "user-table">-->
<!--          <tr class = "user-table-list">-->
<!--            <th>氏名</th>-->
<!--            <td><%= @user.last_name %><%= @user.first_name %></td>-->
<!--          </tr>-->
<!--          <tr class = "user-table-list">-->
<!--            <th>カナ</th>-->
<!--            <td><%= @user.last_name_kana %><%= @user.first_name_kana %></td>-->
<!--          </tr>-->
<!--          <tr class = "user-table-list">-->
<!--            <th>ユーザー名</th>-->
<!--            <td><%= @user.user_name %></td>-->
<!--          </tr>-->
<!--          <tr class = "user-table-list">-->
<!--            <th>メールアドレス</th>-->
<!--            <td><%= @user.email %></td>-->
<!--          </tr>-->
<!--      </table>-->

<!--      <%= link_to '編集する', edit_user_path, class: "btn btn-link btn-outline-success"%>-->
<!--      <%= link_to '退会する', user_withdraw_path(current_user), method: :patch,
       "data-confirm" => "本当に退会しますか？", class: "btn btn-link btn-outline-danger" %>-->

<!--    </div>-->
<!--  </div>-->
<!--</main>-->
