<!DOCTYPE html>
<html>
  <head>
    <title>KINTORE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- FontAwesomeの読み込み -->
    <script src="https://kit.fontawesome.com/ca1289ead1.js" crossorigin="anonymous"></script>
    <!--ハンバーガーメニュー-->
    <link rel="stylesheet" href="css/style.css" />
    <!--各デバイスで表示される領域-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--レスポンシブ対応-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body>
    <%= render'layouts/user_header' %>
    <%= yield %>
    <%= render'layouts/footer' %>
  </body>

</html>
